/* Shokuhou Misaki */
$hair: #f1e4b9;
$hair_shadow: #cf9a61;
$face: #fbf2db;
$remote_control: #2f2f2f;
$uniform: #dcc9c2;
$uniform_shadow: #b1948c;
$sick_socks: #efefef;
$skirt_shadow: #726c79;
$skirt_shadow_deep: #27242b;
$c1: #bb660b; /* old sidebar colour */
$c2: #f6e7c2;

$main_colour: $hair;
$theme_colour: $hair_shadow;
$font_backgroud_colour: $sick_socks;

$body_colour: $skirt_shadow_deep;
$body_backgroud_colour: $font_backgroud_colour;
$body_font_size: 15px;
$sidebar_colour: $remote_control;
$sidebar_a_hover_colour: $skirt_shadow;
$sidebar_background_colour: $main_colour;
$scrollbar_colour: $main_colour;
$scrollbar_thumb_colour: $uniform;
$scrollbar_track_colour: $main_colour; /* old #299c69*/
$header_text_shadow: 2px 4px 5px $face;
$header_border_colour: $theme_colour;
$header_a_colour: $theme_colour;
$page_table_border: 1px solid $theme_colour;

/* content */
$content_code_background: $font_backgroud_colour;

$code_box_shadow_colour1: #cf9a61;
$code_box_shadow_colour2: #dcc9c21a;
$code_box_shadow_colour3: #f1e4b91a;
$code_webkit_box_shadow: inset 0 1px 10px $code_box_shadow_colour1, 0 1px 0 $code_box_shadow_colour2, 0 -1px 0 $code_box_shadow_colour3;
$code_moz_box_shadow: inset 0 1px 10px $code_box_shadow_colour1, 0 1px 0 $code_box_shadow_colour2, 0 -1px 0 $code_box_shadow_colour3;
$code_box_shadow: inset 0 1px 10px $code_box_shadow_colour1, 0 1px 0 $code_box_shadow_colour2, 0 -1px 0 $code_box_shadow_colour3;

$content_em_strong_text_shadow: 1px 1px 2px $main_colour;
$content_em_strong_colour: $theme_colour;
$content_strong_text_shadow: 0 0 2px $main_colour;
$content_strong_colour: $theme_colour;

/* block */
$block_backgroud_colour: $sick_socks;
$block_colour: $main_colour;

$ref_background: $hair;
$ref_colour: $remote_control;
$ref_code_colour: $ref_colour;
$ref_code_webkit_box_shadow: inset 0 1px 10px #e0dcdc4d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
$ref_table_border: 1px solid $hair_shadow;

$tip_background: #454849;
$tip_border_top_colour: #284750;
$note_background: #454b5e;
$note_border_top_colour: #070d1d;
$info_background: #2b2520;
$info_border_top_colour: #271200;
$warn_background: #533f3f;
$warn_border_top_colour: #270000;
